<html>
  <head>
    <title>Sites Proxy - Let's fuck the firewall</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <script src="https://unpkg.com/vue@3"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
    <div id="app" [v-cloak]>
      <h2>Proxied Sites</h2>
      <div class="box">
        <ul class="directory-list">
          <li>
            sites
            <ul v-for="site in sites" >
              <li @click="onClick(site.deploy_ssl_url)">{{ site.branch }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <script src="/main.js"></script>
  </body>
</html>
